.title{
    width: 100%;
    text-align: center;
    font-size: 22px;
    margin: 20px 0;
}
.img-view{
    display: block;
    width: 90%;
    height: auto;
    margin: 20px auto;
}
.none-view{
    width: 100%;
    text-align: center;
    color: crimson;
}
.link{
    text-align: center;
    color: #FFF;
    font-size: 20px; 
    background: cornflowerblue;
    border: none;
    width: 50%;
    padding: 5px 0;
    position: fixed;
    bottom: 20px;
    left: 50%;
    margin-left: -25%;
}